*{
    font-family: rubik;
}
body{
    background-color: lightgray;
}
.section1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-image: url('./../assets/poza-11.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    

}
.guide{
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #00000077;
    border-radius: 50%;
    margin: 20px;
}
.down {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.down svg {
    border: solid white 3px;
    padding: 6px 8px;
    transition: all 0.2s;
}

.down svg:hover {
    filter: brightness(0.85);
}
.h1{
        display: flex;
        justify-content: center; 
        align-items: center;    
        height: 100%;            
    }

.h1sec1 {
    margin: 0; 
    font-size: 6rem;
    color: white;
}

.list{
    list-style-type: disclosure-closed;
}
li::marker{
    color: #aaa;
}
.asec1 a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.h12{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 10px;
    
}
.h1sec2{
    margin: 20px 0 10px 0;
    padding: 30px 0 0 0; 
    font-size: 4rem;
    color: #424242;
}
.container-{
    margin: auto;
    width: 70%;
}
.heading{
    color: #858585;
}
.heading-0{
    color: #ccc;
}
.color{
    color: #55a6a6;
}
.bg-light{
    font-size: 20px;
    font-style: italic;
    font-family: serif;
    border-left: 15px  solid #bbb;
    padding: 1px;
}
.bg-light .p-3{
    
    color: rgb(85, 156, 156);
}

.linkstyle a{
    text-decoration: none;
    color: #55a6a6;
    position: relative;

}
.linkstyle a:hover{
    .linkstyle a::before{
        content: '';
        width: 100%;
        height: 5px;
        background-color: blueviolet;
        position: absolute;
        bottom: 0;
    }
    
}

.area{
    /* width: 100%; */
    border: 1px solid white;
    padding: 15px;
    margin: 20px;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.divrow:hover{
    .area{
        border-color: #55a6a6;
    }
    .divrow-img{
        border-color: #55a6a6;
    }
}
.divrow{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    transition: all 0.3s ease-in;
    
}
.divrow-img{
    transition: all 0.3s ease-in;
    border: 1px solid white;
}
.divrow span{
float: right;
}
.unique{
    translate: 40px;
}
.float-right{
    float: right;
    margin: 15px;
}
.float-left{
    float: left;
    margin: 15px;
}
    @media only screen and (max-width: 768px) {
        .divrow{
            flex-flow: column;
        }
        .area{
            margin: 20px 0;
        }
        .h1sec1, .h1sec2 {
            font-size: 1.5em; 
        }
        .text-primary {
            font-size: 1.2em; 
        }
        .claxx{
            width: 100%;
        }
} 

.containerr {
    margin: 20px;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #55a6a6a2;
    color: white;
}
textarea:focus {
    outline: solid white 1px;
}
.button {
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    position: absolute;
    bottom: 10px;
    right: 8px;
}

.t-area-btn{
    display: none;
    transition: all 0.3s ease-in-out;
}
.t-area-btn:first-of-type {
    display: block;
    transition: all 0.3s ease-in-out;
}
#finalMessage {
    display: none;
    flex-flow: column;
    color: black;
    border: solid white 2px;
    padding: 10px;
}
#finalMessage span:first-of-type {
    color: #424242c5;
}
#alert{
    display: none;
}
.back{
    position: absolute;
    margin: 20px;
    width: 55px;
    height: 55px;
    color: #424242;
    background: rgba(255, 255, 255, 0.55);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.275);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back a{
    margin-right: 2px;
    transform: translate(2px);
}
